@media (hover: hover) {
	a:hover {
		color: white;
	}
	
	button:hover {
		background: #444;
		cursor: pointer;
	}
	
	button:active {
		background: #333;
	}
	
	select:hover {
		cursor: pointer;
	}
	
	.paradigm-element:hover {
		background: #555;
	}
	
	.paradigm-element:active {
		background: #444;
	}
}

@media (hover: none) {
	html {
		touch-action: manipulation;
	}
}

html {
	color-scheme: dark light;
}

body {
	margin: 0;
	background: #222;
}

p, a, pre {
	margin: 0;
	text-align: center;
	word-break: break-word;
	white-space: pre-wrap;
	color: white;
	font-family: Times New Roman;
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: color .25s;
}

input, textarea, button, select {
	border-radius: 0;
	font-family: Times New Roman;
	white-space: pre-wrap;
	background: #2C2C2C;
	color: white;
	outline: none;
	border: none;
	resize: none;
	box-sizing: border-box;
}

input::placeholder {
	color: #777;
}

button {
	transition: .25s background;
}

button:disabled {
	pointer-events: none;
	background: #D41C1C !important;
}

select {
	white-space: nowrap;
	text-overflow: ellipsis;
}

select[multiple] > option:before {
	content: "☐ ";
}

select[multiple] > option:checked:before {
	content: "☑ ";
}

option {
	background: none;
	color: white;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-top {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-column-top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.flex-column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.flex-wrap {
	flex-wrap: wrap;
}

.grow {
	flex: 1;
}

.full-width {
	width: 100%;
	box-sizing: border-box;
}

.full-height {
	height: 100%;
	box-sizing: border-box;
}

.x-small-gap {
	gap: 0.5202vmin;
}

.small-gap {
	gap: 1.0405vmin;
}

.medium-gap {
	gap: 1.5608vmin;
}

.large-gap {
	gap: 2.0811vmin;
}

.x-large-gap {
	gap: 2.6014vmin;
}

.xx-large-gap {
	gap: 5.2029vmin;
}

/* .x-small-padding { */
/* 	padding: 0.5202vmin; */
/* } */

.small-padding {
	padding: 1.0405vmin;
}

.medium-padding {
	padding: 1.5608vmin;
}

.large-padding {
	padding: 2.0811vmin;
}

.x-small-font {
	font-size: calc(0.4rem + 0.8949vmin);
}

.small-font {
	font-size: calc(0.4rem + 1.207vmin);
}

.medium-font {
	font-size: calc(0.4rem + 1.5192vmin);
}

.large-font {
	font-size: calc(0.4rem + 1.8314vmin);
}

.x-large-font {
	font-size: calc(0.4rem + 2.1436vmin);
}

.xx-large-font {
	font-size: calc(0.4rem + 2.4557vmin);
}

.xxx-large-font {
	font-size: calc(0.4rem + 4.5369vmin);
}

.text-left {
	text-align: left;
}

.underlined {
	text-decoration: underline;
}

.gray7 {
	color: #777;
}

.grayA {
	color: #AAA;
}

.gray1-bg {
	background: #111;
}

.red-bg {
	background: #D41C1C;
}

.page-container {
	/*Firefox*/
	overflow-y: scroll;
	/*Chrome*/
	overflow-y: overlay;
}

.center-container {
	display: grid;
	grid: 1fr max-content 1fr / 100%;
	place-content: start center;
	place-items: center;
	align-items: start;
}

.small-width {
	width: 300px;
	max-width: 100%;
	box-sizing: border-box;
}

.medium-width {
	width: 750px;
	max-width: 100%;
	box-sizing: border-box;
}

.large-width {
	width: 900px;
	max-width: 100%;
	box-sizing: border-box;
}

.small-height {
	height: 150px;
	max-height: 100%;
	box-sizing: border-box;
}

.section-group:nth-child(even) {
	background: #2C2C2C;
}

.word-container {
	max-width: 325px;
}

.word-container p {
	text-align: left;
}

#container {
	width: 100vw;
	height: 100vh;
}

#title {
	grid-column: 2;
}

/* Paradigm */

.paradigm {
	max-width: 90vmin;
	display: grid;
	grid-template-rows: min-content;
	grid-auto-flow: dense;
	place-items: center;
	background: #2C2C2C;
}

.paradigm-row-label {
	grid-column: 1;
}

.paradigm-element {
	width: 7.5vmin;
	height: 7.5vmin;
	background: #444;
	white-space: pre-wrap;
}

.answered {
	background: unset;
	pointer-events: none;
}

/* Parser */

.parser-word {
	width: min-content;
}

.parser-word p {
	word-break: keep-all;
}

.parser-swappable-option {
	text-decoration: underline dotted from-font;
	cursor: pointer;
}

#parser-input {
	display: grid;
	grid: 100% / 2fr 1fr;
}

/* Practice */

.choice-selector {
	transition: background .25s;
}